/*Override Bootstrap navbar styles*/
:global(.navbar) {
  --bs-navbar-active-color: var(--nav-text-hover-color);
  --bs-navbar-color: var(--nav-text-color);
  --bs-navbar-brand-color: var(--nav-text-color);
  background-color: var(--primary-button-bg);

}



:global(.navbar-toggler-icon) {
  filter: invert(1) brightness(1.1);
}

:global(.navbar-nav) {
  --bs-nav-link-hover-color: var(--primary-color);
}

/*Animation for nav links only*/
a.nav-link-item {
  text-decoration: none;
  position: relative;
  overflow: hidden;
  color: var(--nav-text-color);
}

a.nav-link-item:hover {
  color: var(--nav-text-hover-color);
}

a.nav-link-item::before,
a.nav-link-item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: linear-gradient(90deg, #10b981, #3b82f6);
  transition: all 0.5s;
}

a.nav-link-item::before {
  top: 0;
  left: 0;
}

a.nav-link-item::after {
  bottom: 0;
  right: 0;
}

a.nav-link-item:hover::before {
  width: 100%;
  transition: width 0.25s ease-in-out;
}

a.nav-link-item:hover::after {
  width: 100%;
  transition: width 0.25s ease-in-out 0.25s;
}

/*Override Bootstrap color for logo*/
:global(.navbar-brand) {
  color: white;
}

:global(.navbar-brand):hover {
  color: white;
}