/*Override Bootstrap navbar styles*/
:global(.navbar) {
  --bs-navbar-active-color: var(--nav-text-hover-color);
  color: var(--nav-text-color);
  --bs-navbar-brand-color: var(--nav-text-color);
  background-color: #265dad;
  transition: all 0.3s ease;
}

.glassy {
  background-color: var(--glassy-bg-color) !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: var(--glassy-border-bottom);
}

:global(.navbar-toggler-icon) {
  filter: invert(1) brightness(1.1);
}

:global(.navbar-nav) {
  --bs-nav-link-hover-color: var(--primary-color);
}

/*Animation for nav links only*/
a.nav-link-item {
  text-decoration: none;
  position: relative;
  overflow: hidden;
  color: var(--nav-text-color);
}

a.nav-link-item:hover {
  color: var(--nav-text-hover-color);
}

a.nav-link-item::before,
a.nav-link-item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: linear-gradient(90deg, #10b981, #3b82f6);
  transition: all 0.5s;
}

a.nav-link-item::before {
  top: 0;
  left: 0;
}

a.nav-link-item::after {
  bottom: 0;
  right: 0;
}

a.nav-link-item:hover::before {
  width: 100%;
  transition: width 0.25s ease-in-out;
}

a.nav-link-item:hover::after {
  width: 100%;
  transition: width 0.25s ease-in-out 0.25s;
}

/*Override Bootstrap color for logo*/
:global(.navbar-brand) {
  color: white;
  transition: color 0.3s ease;
}

:global(.navbar-brand):hover {
  color: white;
}



/*Change styles when the navbar becomes glassy*/

.glassy :global(.navbar-toggler:focus) {
  box-shadow: 0 0 0 0.25rem rgba(32, 32, 32, 0.25);
}

.glassy :global(.navbar-toggler-icon) {
  filter: invert(0) brightness(1.1);
}

.glassy :global(.navbar-brand) {
  color: var(--glassy-text-color);
}

.glassy a.nav-link-item {
  color: var(--glassy-text-color);
}

.glassy a.nav-link-item:hover {
  color: var(--nav-text-hover-color);
}

.glassy .theme-toggler {
  color: var(--glassy-text-color);
}