.about-section {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

.skills-list {
    padding: 0;
    list-style-type: none;
}

.about-section p {
    font-size: 18px;
}