.icon {
  width: 40px;
  height: 40px;
}
.tech-skill {
  padding: 6px 10px;
  border-radius: 10px;
  background-color: var(--card-bg-color);
  border: var(--card-border);
}
.tech-skills {
  gap: 2rem;
}

@media (max-width: 991px) {
  .tech-skills {
    gap: 1.5rem;
  }
}
@media (max-width: 514px) {
  .tech-skills {
    gap: 1rem;
  }
}
