* {
    box-sizing: border-box;
}

:root {
    --nav-text-hover-color: #10b981;
    --primary-button-bg: linear-gradient(90deg, #1e4a8a, #1ea6c8);
    --nav-text-color: white;
    --box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    --primary-bg-color: #F5F5F5
}

body {
    background-color: var(--primary-bg-color);
}

/* Override Bootstrap primary button styles */
.btn-primary {
    --bs-btn-border-color: var(--primary-button-bg);
    background: var(--primary-button-bg);
    --bs-btn-hover-bg: var(--primary-button-bg);
    transition: transform 0.3s ease, box-shadow 0.2s ease;
    width: 150px;
}

.btn-primary:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}