* {
  box-sizing: border-box;
}

/*Global styles*/
:root {
  --box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

/* Navbar styles */
:root {
  --nav-text-hover-color: #10b981;
  --nav-text-color: white;
}

:root[data-bs-theme="dark"] {
  --nav-bg-color: #0c0c0c;
  --glassy-bg-color: rgba(12, 12, 12, 0.6);
  --glassy-border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  --glassy-text-color: white;
}

:root[data-bs-theme="light"] {
  --nav-bg-color: #265dad;
  --glassy-bg-color: rgba(255, 255, 255, 0.6);
  --glassy-border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  --glassy-text-color: black;
}

/* Text and background colors for global theme styles*/
:root[data-bs-theme="dark"] {
  --primary-text-color: white;
  --grid-line-color: rgba(200, 200, 190, 0.07);
  --primary-bg-color: #0c0a09;
}

:root[data-bs-theme="light"] {
  --primary-text-color: black;
  --grid-line-color: rgba(0, 0, 0, 0.06);
  --primary-bg-color: #f5f5f5;
}

body {
  background-color: var(--primary-bg-color);
  position: relative;
  font-family: "Lato", sans-serif;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-image:
    linear-gradient(var(--grid-line-color) 1px, transparent 1px),
    linear-gradient(90deg, var(--grid-line-color) 1px, transparent 1px);
  background-size: 30px 30px;
  -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
  pointer-events: none;
  z-index: 0;
}

/* Note styles */
:root[data-bs-theme="dark"] {
  --note-bg-color: #2c3035;
}

:root[data-bs-theme="light"] {
  --note-bg-color: #fffbeb;
}

/* Card styles */
:root[data-bs-theme="dark"] {
  --card-bg-color: #171717;
  --card-text-color: white;
  --card-border: 2px solid #79c7c5;
  --box-shadow: 0 0 15px rgba(0, 255, 204, 0.7);
}

:root[data-bs-theme="light"] {
  --card-bg-color: #fdfdfe;
  --card-text: black;
  --card-border: 2px solid #b9bebe;
  --box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
/*Override Global Bootstrap card styles */
.card {
  border: var(--card-border);
  box-shadow: var(--box-shadow);
}

/* Override Global Bootstrap primary button styles */
.btn-primary {
  --bs-btn-border-color: var(--primary-button-bg);
  background: var(--primary-button-bg);
  --bs-btn-hover-bg: var(--primary-button-bg);
  transition:
    transform 0.3s ease,
    box-shadow 0.2s ease;
  width: 150px;
  height: 45px;
}

.btn-primary:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/*icons styles */
:root[data-bs-theme="dark"] {
  --icon-color: white;
}

:root[data-bs-theme="light"] {
  --icon-color: black;
}
